{% extends 'payment/base.html' %}

{% block title %}
  {{ item.name }}
{% endblock %}

{% block body %}
  <div>
    <p>Name: {{ item.name }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Price: {{ item.price }} $</p>
  </div>
  <div>
    <button id="buy-button">Buy</button>
  </div>
{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe('pk_test_51QxNF9AL2OLARfzR3Jrk1O4qabzPA2IAN1SOXjeRsNR3CNIhv5v4b61zp6HerS7BWT30w41PUbAZZ5bOFVqk4J3j00EXOsaEnv');
  var buyButton = document.getElementById('buy-button');
  buyButton.addEventListener('click', function() {
    fetch('{{ item.get_session_url }}', { method: 'GET' })
      .then(response => response.json())
      .then(session => {
        stripe.redirectToCheckout({ sessionId: session.session.id });
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Ошибка при оплате');
      });
  });
</script>
{% endblock %}